<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Document</title>
</head>
<body>
    
    <div id="container">
        <form method="post">
            <img src="{{ url_for('static', filename='InstitutoMix.png') }}" alt="Logo do Instituto Mix" width="50%">
            <input type="text" name="cpf" placeholder="CPF" maxlength="11">
            <input type="password" name="password" class="password" placeholder="Senha" minlength="4">
            <button type="submit">Entrar</button>
        </form>
    </div>

</body>
</html>